* {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.5;
    color: #24292e;
}
#answerBtn, #rejectBtn {
    color: white;
}
#incoming-call-div {
    display: none;
    background: yellow;
    height: 50px;
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    color: #fff;
    background-color: #10b759;
    border-color: #10b759;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 4px 12px;
    line-height: 1.5;
    border-radius: 0.25rem;
}
button:disabled,
button[disabled],button[disabled]:hover{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
button:hover {
    border: 1px solid #1dcc69;
    background-color: #1dcc69;
}